/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
  margin-top: 40px;  /* make room for header */
  margin-bottom: 80px;

}

/*----------------------------------------------------------------------------
  Header Styles
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/
h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/
html{

  font-family: $font1;
  font-size: 14px;
  height: 100%;
  &.disable {
    overflow: hidden;
  }
}

/*----------------------------------------------------------------------------
  BUTTON ELEMENTS
----------------------------------------------------------------------------*/

button {
  background-color: darkgray;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  padding: 9px 9px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
}



/*----------------------------------------------------------------------------
  FORM ELEMENTS
----------------------------------------------------------------------------*/

input {
  outline: none;
  width: 70%;
}


/*----------------------------------------------------------------------------
  Image
----------------------------------------------------------------------------*/


img {
  width: 100%;
}

/*----------------------------------------------------------------------------
  Paragraph
----------------------------------------------------------------------------*/

a {
  cursor: pointer;
}
