/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {


}

/*----------------------------------------------------------------------------
  Header Styles
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/
h1 {

}

/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/
html{
  font-family: $font1;
  font-size: 14px;
}




/*----------------------------------------------------------------------------
  FORM ELEMENTS
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
  Image
----------------------------------------------------------------------------*/
.medium-img {
  width: 280px;
}


/*----------------------------------------------------------------------------
  Paragraph
----------------------------------------------------------------------------*/
