/* layout styles */


.y-wrap {
  margin: 0 auto;
  width: 290px;
  @include responsive(taft) {
    width: 90%;
  }
  @include responsive(carter) {
    max-width: 992px;
  }
}

.iphone {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
