/* layout styles */

body {
  margin-bottom: 80px;
}

.y-wrap {
  margin: 0 auto;
  width: 290px;
  @include responsive(taft) {
    width: 90%;
  }
  @include responsive(carter) {
    max-width: 992px;
  }
}
