/* Media Queries */

/* ####################
    Landing Page
   #################### */


.landing {
 background: white;
}

.landing-text {
  font-family: 'Verdana', sans-serif;
  font-size: $large;
  padding: 30px;
}

h1.landing {
  font-family: 'Verdana', sans-serif;
}

.landingbtnwrapper {
  padding: 10px;
  text-align: center;
}

.clanding-btn {
  font-size: $large;
  padding: 15px;
}


/* ###################
     For Main Listing
   ###################   */

ul.list-one {
  //margin-left: 3%;
}

form#top-form-find {
  margin-top: 90px;  // changed after addition of "hamburger"
  margin-bottom: 30px;
  text-align: center;
  max-width: 700px;
}

.centered {
  text-align: center;
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.itemdata {
  li & {
    .list-one & {
      display: inline-block;
      padding-left: 5px;
      vertical-align: middle;
      width: 25%;
    }
  }
  @include responsive(truman){
    font-size: $large;
  }
}

.hdr {
  background: white;
}

.listhdr {
  color: black;
  cursor: default;
  display: inline-block;
  font-size: $small;
  font-style: italic;
  margin: auto 3%;
  word-break: break-all;
  @include responsive(harding){
    font-size: $medium;
    margin: auto 6%;
  }
  @include responsive(froosevelt){
    margin: auto 7%;
  }
  @include responsive(truman){
    font-size: $base;
    margin: auto 8%;
  }
}

.nimg {
  display: inline-block;
  width: 30px;
  @include responsive(truman){
    width: 40px;
  }
}

li {
  .list-one & {
    cursor: pointer;
    margin: 6px 0;
    min-height: 38px;
    padding: 24px 0;
    position: relative;
    transition: color 400ms ease-in-out;
  }
  &:nth-of-type(odd) {
    padding: 12px 0;
  }
  &:nth-of-type(even) {
    background: #ddd;
  }
  &:hover {
    color: crimson;
  }
}

/*  ####################
      FORM STYLES
    #################### */

h3.search_for_gun {
  font-size: $large;
  margin: 7px 0;
}

.formWrap h3 {
  font-size: $large;
  margin: 7px 0;
}


#update_gun_form {
  margin-top: 40px;
}

input {
  #update_gun_form & {
    display: block;
    font-size: $large;
    margin: 6px 0;
    padding: 5px 5px;
    width: 100%;
  }
  #addagun & {
    display: block;
    width: 100%;
  }
  #addagun_form & {
    margin: 5px 0;
    padding: 5px 7px;
    @include responsive(truman){
      font-size: $large;
    }
  }
  #findagun_form & {
    margin: 5px 0;
    padding: 5px 7px;
    @include responsive(truman){
      font-size: $large;
    }
  }
  #top-form-find & {
    padding: 8px;
    @include responsive(truman){
      font-size: $large;
    }
  }
}

label {
  #update_gun_form & {
    display: block;
    font-size: $medium;
    margin-top: 16px;
    text-transform: uppercase;

  }
}

#update_gun_submit {
  &:hover {
    color: crimson;
  }
}

#delete_gun_submit {
  &:hover {
    color: crimson;
  }
}

button {
  &:hover {
    color: crimson;
  }
}

#update_gun_function  {
  display: inline-block;
}

#search_gun_submit {
  display: inline-block;
}

#addagun {
  display: inline-block;
}

.btn_wrapper {
  text-align: center;
  @include responsive(johnson){
    margin-top: 24px;
  }
}

/*  ####################
       Header Stuff
    #################### */


header {
  // border-bottom: 1px solid #666;
  position: relative;
}

.cf:before,
.cf:after {
  content:"";
  display: table;
}
.cf:after {
  clear: both;
}


.formWrap {
  text-align: center;
}

.navswrap {
  float: left;
  height: 34px;
  position: relative;
  width: 50%;
}
/* Hamburger Menu */
// Burger menu button
.mobile {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navicon {  //c005   **
  position: fixed;
  right: 5%;  //c004
  top: 32px;
  z-index: 50;
  @include responsive(truman) {
    display: none;
  }
}

.navitems {  //c005  **  down to 293
  background: white;
  height: 2000px;
  padding: 80px 0 0 26px;
  position: fixed;
  right: -300px;
  top: 0;
  transition: right 0.6s ease-in-out;
  width: 180px;
  z-index: 40;
  @include responsive(truman) {
    background: none;
    display: inline-block;
    height: auto;
    padding: 0;
    position: static;
    text-align: right;
    width: calc(80% - 2px);
  }
  &.active {
    right: 0;
  }
}

li {
  .navitems & {
    color: inherit;
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
    @include responsive(truman) {
      display: inline-block;
      font-size: $large;
      margin: 0 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &:hover {
      color: crimson;
      padding-left: 5px;
      @include responsive(truman) {
        padding-left: 0;
      }
    }
  }
}

.navwrap {                        // **
  @include responsive(truman) {  //c011
    background: white;
    border-bottom: 1px solid #aaa;
    border-top: 8px solid #aaa;
    left: 0;
    margin: 0 0 24px;
    position: fixed;
    top: 0;
    padding: 16px 0;
    width: 100%;
    z-index: 20;
    &:after {  //c008, c012
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      bottom: -13px;
      content: '';
      height: 12px;
      position: absolute;
      width: 100%;
    }
  }
}

.navlogo {  //c005, c006, c011  **
  background: white;
  border-bottom: 1px solid #aaa;
  border-top: 8px solid #aaa;
  font-family: 'Russo One', sans-serif;
  font-size: 28px;
  left: 0;
  margin: 0 0 24px;
  position: fixed;
  top: 0;
  padding: 16px 0 16px 5%;
  width: 100%;
  z-index: 20;
  @include responsive(truman) { //c013
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: static;
    width: calc(20% - 2px);
  }


  &:after {  //c008, c012
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    bottom: -13px;
    content: '';
    height: 12px;
    position: absolute;
    width: 100%;
    @include responsive(truman) {
      display: none;
    }
  }
}


/* End of Header Styles */


/*  ####################
       Output Styles
    ####################  */

/* These are for the individual record display styles */

.medium-img {
  margin-top: 20px;
  width: 280px;
  @include responsive(hoover){
    display: inline-block;
    vertical-align: top;
  }
  @include responsive(johnson){
    display: inline-block;
    vertical-align: top;
  }
}

.fieldWrapWrapper {
  @include responsive(hoover){
    display: inline-block;
    margin: 0 13px;     // had to cut down this margin to prevent weirdness
  }
}

.basicFieldWrap {
  @include responsive(johnson){
    display: inline-block;
    margin: 0 30px;
    vertical-align: top;
  }
}
