/* Media Queries */




/* ###################
     For Main Listing
   ###################   */

ul.list-one {
  //margin-left: 3%;
}

form#top-form-find {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: left;
  max-width: 700px;
}

.centered {
  text-align: center;
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.itemdata {
  li & {
    .list-one & {
      display: inline-block;
      padding-left: 5px;
      vertical-align: middle;
      width: 25%;
    }
  }
}

.hdr {
  background: white;
}

.nimg {
  display: inline-block;
  width: 30px;
}

li {
  .list-one & {
    cursor: pointer;
    margin: 6px 0;
    min-height: 38px;
    padding: 24px 0;
    position: relative;
    transition: color 400ms ease-in-out;
  }
  &:nth-of-type(odd) {
    padding: 12px 0;
  }
  &:nth-of-type(even) {
    background: #ddd;
  }
  &:hover {
    color: crimson;
  }
}

input {
  #update_gun_form & {
    display: block;
    font-size: $large;
    margin: 6px 0;
    width: 100%;
  }
  #addagun & {
    display: block;
    width: 100%;
  }
  #addagun_form & {
    margin: 5px 0;
  }
  #findagun_form & {
    margin: 5px 0;
  }
}

label {
  #update_gun_form & {
    display: block;
    font-size: $medium;
    margin-top: 16px;
    text-transform: uppercase;

  }
}

#update_gun_submit {
  &:hover {
    color: crimson;
  }
}

#delete_gun_submit {
  &:hover {
    color: crimson;
  }
}

button {
  &:hover {
    color: crimson;
  }
}

#update_gun_function  {
  display: inline-block;
}

#search_gun_submit {
  display: inline-block;
}

#addagun {
  display: inline-block;
}

.btn_wrapper {
  text-align: center;
  @include responsive(johnson){
    margin-top: 24px;
  }
}

/*  ####################
       Header Stuff
    #################### */

/*  This is for the burger menu so the body gets covered by a dark window  */
.overlay {
  background: inherit;
  position: fixed;
  top: 0;
  transition: background 0.6s ease-in-out;
  width: 100%;
  z-index: 1;
  &.active {
    background: rgba(0, 0, 0, 0.7);
    height: 2000px;
  }
}

ul.navs {
  display: none;
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
}

header {
  // border-bottom: 1px solid #666;
  position: relative;
}

ul.navs li {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 0 8px;
}

.iphone {
  border: 1px solid #ddd;
  // width: 320px;
}

.hdrnimg {
  float: left;
  font-family: 'Russo One', sans-serif;
  font-size: 28px;
  width: 50%;
}

div.hdrnimg img {
  width: 100%;
}

.cf:before,
.cf:after {
  content:"";
  display: table;
}
.cf:after {
  clear: both;
}

#navhome1 {
  &:hover {
    color: maroon;
    cursor: pointer;
  }
}

.formWrap {
  text-align: center;
}

.navswrap {
  float: left;
  height: 34px;
  position: relative;
  width: 50%;
}
/* Hamburger Menu */
// Burger menu button
.mobile {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
$burger--thickness: 4px;
.burger {
	$width: 28px;
  background: none;
  border: 0;
  border-bottom: $burger--thickness solid currentColor;
  cursor: pointer;
	outline: 0;
	padding: 0;
  transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;
	width: $width;

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

  &.active {
    border-bottom: 4px solid transparent;
    &:before {
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
      -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    }
    &:after {
      transform: rotate(405deg) translateY(-4px) translateX(-5px);
      -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    }
  }

	&:before {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}
}




/* End of Header Styles */



/*  ####################
       Output Styles
    ####################  */

/* These are for the individual record display styles */

.medium-img {
  margin-top: 20px;
  width: 280px;
  @include responsive(hoover){
    display: inline-block;
    vertical-align: top;
  }
  @include responsive(johnson){
    display: inline-block;
    vertical-align: top;
  }
}

.fieldWrapWrapper {
  @include responsive(hoover){
    display: inline-block;
    margin: 0 13px;     // had to cut down this margin to prevent weirdness
  }
}

.basicFieldWrap {
  @include responsive(johnson){
    display: inline-block;
    margin: 0 30px;
    vertical-align: top;
  }
}
